<!DOCTYPE html>
<html>
    <header>
        <title>两栏布局</title>
        <style>
            .warp{
                display: flex;
            }
            .left{
                width: 200px;
                height: 500px;
                background-color: cadetblue;
            }
            .right{
                height: 500px;
                background-color: chartreuse;
                flex: 1;
            }
        </style>
    </header>
    <body>
        <div class="warp">
            <div class="left">定宽</div>
            <div class="right">自适应</div>
       </div>
    </body>
</html>