<!DOCTYPE html>
<html>
    <header>
        <title>一栏布局</title>
        <style>
            .container{
                max-width: 960px;
                margin: 0 auto;
                height: 100%;
            }
            .header{
                background-color: red;
                height: 100px;
            }
            .content{
                background-color: yellow;
                height: 400px;
            }
            .footer{
                background-color: blue;
                height: 100px;
            }
        </style>
    </header>
    <body>
        <div class="container">
            <div class="header"></div>
            <div class="content"></div>
            <div class="footer"></div>
        </div>
    </body>
</html>